<div class="container" *ngIf="menuOptions == 'table'">
  <form [formGroup]="formFilter" style="display: flex; flex-direction: row; height: 5%; margin-bottom: 20px; height: 40px">
    <div style="display: flex; flex-direction: row; width: 30%">
      <input formControlName="myControl" type="text" placeholder="Búsqueda..." class="inputSimple" />
      <select formControlName="filter" type="text" class="select" style="width: 50%">
        <option value="all" [defaultSelected]="true">Filtrar por...</option>
        <option value="fileNumber">No. de expediente</option>
        <option value="vehicle">Vehículo</option>
        <option value="client">Cliente</option>
      </select>
    </div>

    <div style="display: flex; flex-direction: row; gap: 20px; margin-left: 20px; width: 70%">
      <!--Select de serivcio-->
      <select formControlName="services" type="text" class="select" style="width: 50%" *ngIf="UserData?.role != 'customer'">
        <option value="all" [defaultSelected]="true">Servicios</option>
        <option *ngFor="let service of servicesData" [value]="service.id">{{ service.name }}</option>
      </select>
      <div style="display: flex; flex-direction: row; width: 100%">
        <input formControlName="totalCost" type="number" placeholder="Flitrar costo..." class="inputSimple" />
        <!--Select de filtro de costos-->
        <button class="buttonFilterCost" (click)="toggleFilterCost()">
          <mat-icon *ngIf="filterCost">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="!filterCost">arrow_drop_up</mat-icon>
        </button>
      </div>

      <button class="buttonResetFilter" matTooltip="Reiniciar filtros" (click)="resetFilters()">
        <mat-icon><span class="material-symbols-outlined"> filter_alt_off </span></mat-icon>
      </button>
      <button matTooltip="Agregar nueva orden de servicio" (click)="editMenuOption('form')" class="buttonAdd">
        <mat-icon>add</mat-icon>
        Nueva orden
      </button>
    </div>
  </form>

  <!-- Input de rango de fechas -->
  <mat-form-field appearance="fill">
    <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Fecha de inicio" />
      <input matEndDate formControlName="end" placeholder="Fecha de fin" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" border="">
      <!-- File Number Column -->
      <ng-container matColumnDef="fileNumber">
        <th mat-header-cell *matHeaderCellDef>No. de expediente</th>
        <td mat-cell *matCellDef="let element">{{ element.fileNumber || "-" }}</td>
      </ng-container>

      <!-- Create Date Column -->
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de entrada</th>
        <td mat-cell *matCellDef="let element">{{ element.createDate ? (element.createDate | date : "yyyy-MM-dd") : "-" }}</td>
      </ng-container>

      <!-- Actual Status Column -->
      <ng-container matColumnDef="actualStatus">
        <th mat-header-cell *matHeaderCellDef>Estatus</th>
        <td mat-cell *matCellDef="let element">{{ element.actualStatus || "-" }}</td>
      </ng-container>

      <!-- Vehicle Column -->
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef>Vehículo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.vehicle?.model.brand || "-" }}
          {{ element.vehicle?.model.model || "-" }}
          {{ element.vehicle?.year || "-" }}
          {{ element.vehicle?.color || "-" }}
        </td>
      </ng-container>

      <!-- Client Column -->
      <ng-container matColumnDef="client" *ngIf="UserData?.role != 'customer'">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.vehicle?.owner || "-" }}</td>
      </ng-container>

      <!-- Services Column -->
      <ng-container matColumnDef="services">
        <th mat-header-cell *matHeaderCellDef>Servicios</th>
        <td mat-cell *matCellDef="let element">
          <div
            style="text-align: left; display: flex; flex-direction: column; line-height: 5px; justify-content: flex-start"
            *ngFor="let service of element.services; let index = index"
          >
            <p>
              <strong>{{ index + 1 }}: </strong>{{ service.name || "-" }}
            </p>
          </div>
          <div *ngIf="element.services.length === 0">-</div>
        </td>
      </ng-container>

      <!-- Total Cost Column -->
      <ng-container matColumnDef="totalCost">
        <th mat-header-cell *matHeaderCellDef>Costo total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.detail?.totalCost !== undefined && element.detail?.totalCost !== null ? "$" : ""
          }}{{
            element.detail?.totalCost !== undefined && element.detail?.totalCost !== null ? formatNumberWithCommas(element.detail.totalCost) : "-"
          }}
        </td>
      </ng-container>

      <!-- Row Click Event -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="editMenuOption('detail', row)"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 20]" aria-label="Select page"></mat-paginator>
  </div>
</div>

<!-- Detail View -->
<app-tabOrderService
  *ngIf="menuOptions == 'detail'"
  [itemOrderService]="itemOrderService"
  [menuOption]="menuOptions"
  (showForm)="showForm($event)"
></app-tabOrderService>

<!-- Form View -->
<app-formOrderService
  *ngIf="menuOptions == 'form'"
  [itemOrderService]="itemOrderService"
  [menuOption]="menuOptions"
  (showForm)="showForm($event)"
></app-formOrderService>
