<main class="container bg-secondary">
  <section class="column1">
    <img class="imagenLogo" src="assets/img/logoLogin.svg" alt="logo" />
  </section>
  <section class="column2">
    <div class="card">
      <div class="titleHeader">
        <h1>Verificación a dos pasos</h1>
        <div class="containerRoundedImg">
          <img src="assets/img/lock.svg" alt="roundedImg" />
        </div>
      </div>
      <form class="form" [formGroup]="verifyEmailForm">
        <p>
          Ingresa el codigo de verificacion que enviamos a tu número de telefono
        </p>
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Ingresa el codigo de verificación</mat-label>
            <input
              matInput
              formControlName="code"
              (input)="onFormatCode($event)"
            />
            <mat-error *ngIf="verifyEmailForm.get('code')?.hasError('required')"
              >El código es obligatorio</mat-error
            >
          </mat-form-field>
        </div>

        <button class="buttonLogin bg-primary" type="button" (click)="verify()">
          Enviar codigo
        </button>
      </form>
    </div>
  </section>
</main>
