<main class="container bg-secondary">
  <section class="column1">
    <img class="imagenLogo" src="assets/img/logoLogin.svg" alt="logo" />
  </section>
  <section class="column2">
    <div class="card">
      <div class="containerRoundedImg">
        <img src="assets/img/lock.svg" alt="roundedImg" />
      </div>
      <h1>Registrarse</h1>
      <form class="form" [formGroup]="registerForm">
        <div class="containerTwoInputs">
          <div class="inputContainer">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="registerForm.get('name')?.hasError('required')"> El nombre es obligatorio </mat-error>
              <mat-error *ngIf="registerForm.get('name')?.hasError('invalidName') && !registerForm.get('name')?.hasError('required')">
                No pueden contener números
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputContainer">
            <mat-form-field appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')"> Los apellidos son obligatorios </mat-error>
              <mat-error *ngIf="registerForm.get('lastName')?.hasError('invalidName') && !registerForm.get('lastName')?.hasError('required')">
                No pueden contener números
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')"> El correo electrónico es obligatorio </mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('invalidEmail') && !registerForm.get('email')?.hasError('required')">
              Correo electrónico no válido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone" (input)="onPhoneFormat($event)" />
            <mat-error *ngIf="registerForm.get('phone')?.hasError('required')"> El teléfono es obligatorio </mat-error>
            <mat-error *ngIf="registerForm.get('phone')?.hasError('invalidPhone') && !registerForm.get('phone')?.hasError('required')">
              Teléfono no válido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')"> La contraseña es obligatoria </mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('invalidPassword') && !registerForm.get('password')?.hasError('required')">
              Debe tener al menos 8 caracteres, una letra y un número
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput formControlName="passwordConfirmation" type="password" />
            <mat-error *ngIf="registerForm.get('passwordConfirmation')?.hasError('required')">
              La confirmación de la contraseña es obligatoria
            </mat-error>
            <mat-error
              *ngIf="
                registerForm.get('passwordConfirmation')?.hasError('invalidPassword') &&
                !registerForm.get('passwordConfirmation')?.hasError('required')
              "
            >
              Debe tener al menos 8 caracteres, una letra y un número
            </mat-error>
            <mat-error
              *ngIf="
                registerForm.hasError('passwordsMismatch') &&
                !registerForm.get('passwordConfirmation')?.hasError('required') &&
                !registerForm.get('passwordConfirmation')?.hasError('invalidPassword')
              "
            >
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>
        </div>

        <button *ngIf="!userTemporalyExist" class="buttonLogin bg-primary" type="button" (click)="onSubmit()" [disabled]="registerForm.invalid">
          Registrarse
        </button>
        <button *ngIf="userTemporalyExist" class="buttonLogin bg-primary" type="button" (click)="updateData()" [disabled]="registerForm.invalid">
          Actualizar datos
        </button>
      </form>
      <div class="links">
        <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </div>
  </section>
</main>
