s
<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 10px">
  <h1>{{ textButton }} cliente</h1>
  <button>
    <mat-icon (click)="closeDialog()" style="float: right; cursor: pointer">close</mat-icon>
  </button>
</div>
<div class="containerDialog">
  <form [formGroup]="form" style="width: 80%; display: flex; flex-direction: column">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name" [disabled]="isDisabled" (input)="validateForm($event)" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">Este campo es requerido</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('invalidName') && !form.get('name')?.hasError('required')">Solo puede contener letras</mat-error>
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Apellidos" formControlName="lastName" [disabled]="isDisabled" (input)="validateForm($event)" />
      <mat-error *ngIf="form.get('lastName')?.hasError('required')">Este campo es requerido</mat-error>
      <mat-error *ngIf="form.get('lastName')?.hasError('invalidName') && !form.get('lastName')?.hasError('required')"
        >Solo puede contener letras</mat-error
      >
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="Correo electrónico" formControlName="email" [disabled]="isDisabled" (input)="validateForm($event)" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">Este campo es requerido</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('invalidEmail') && !form.get('email')?.hasError('required')"
        >Correo electrónico no válido</mat-error
      >
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput (input)="onPhoneFormat($event)" placeholder="Teléfono" formControlName="phoneNumber" (input)="validateForm($event)" />
      <mat-error *ngIf="form.get('phoneNumber')?.hasError('required')">Este campo es requerido</mat-error>
      <mat-error *ngIf="form.get('phoneNumber')?.hasError('invalidPhone') && !form.get('phoneNumber')?.hasError('required')"
        >Teléfono no válido</mat-error
      >
    </mat-form-field>
    <!-- <mat-slide-toggle *ngIf="action === 'edit'" formControlName="active" [disabled]="isDisabled"> Activo </mat-slide-toggle> -->
    <button [ngClass]="isDisabled ? 'buttonAddDisabled' : 'buttonAdd'" [disabled]="isDisabled" (click)="submit()">
      <!-- <mat-icon>edit</mat-icon> -->
      {{ textButton }}
    </button>
  </form>
</div>
