<div class="container">
  <form [formGroup]="formFilterMonthAndYear" style="display: flex; gap: 15px; width: 100%; justify-content: space-between">
    <div style="width: 100%; display: flex; flex-direction: row; gap: 10px">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Año</mat-label>
        <input matInput type="number" formControlName="year" min="1900" max="2100" placeholder="YYYY" (input)="onYearInput($event)" />
        <mat-error *ngIf="formFilterMonthAndYear.get('year')?.invalid"> Año inválido. Debe estar entre 1900 y 2024. </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Mes</mat-label>
        <mat-select formControlName="month" (selectionChange)="onMonthChange()" [disabled]="formFilterMonthAndYear.get('year')?.invalid ?? true">
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formFilterMonthAndYear.get('month')?.invalid"> Mes inválido. </mat-error>
      </mat-form-field>
    </div>
    <div
      style="width: 100%; display: flex; flex-direction: row; gap: 10px; height: 40px; align-items: center; padding-top: 9px; justify-content: end"
    >
      <button class="buttonReset" (click)="editButtonDisabled()" *ngIf="buttonDisabled">Editar gastos</button>
      <button class="buttonReset" (click)="editButtonDisabled()" [disabled]="buttonDisabled" *ngIf="!buttonDisabled">Cancelar</button>
      <button [ngClass]="buttonDisabled ? 'buttonDisabled' : 'buttonReset'" (click)="sendForm()" [disabled]="buttonDisabled" *ngIf="!buttonDisabled">
        Guardar cambios
      </button>
    </div>
  </form>
  <h1>Gastos</h1>
  <form [formGroup]="formExpenditure" style="display: flex; flex-direction: column; gap: 15px">
    <section class="someInputs" formGroupName="data">
      <mat-form-field appearance="outline" *ngFor="let item of expenses">
        <mat-label>{{ item.nameEspanol }}</mat-label>
        <input type="number" matInput [formControlName]="item.name" placeholder="0.00" [readonly]="buttonDisabled" />
      </mat-form-field>
    </section>
  </form>
</div>
