nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  height: 100%;
}

.options {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
}

button {
  background-color: #f5f7fa;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: 50px; /* Ajusta la altura según sea necesario */
}

.imgSetting {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
