<div class="container">
  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 23px; height: 40px">
    <form [formGroup]="formFilter" style="display: flex; flex-direction: row; height: 5%; width: 100%; height: 100%; margin-bottom: 20px">
      <div style="display: flex; flex-direction: row; width: 40%">
        <input formControlName="myControl" type="text" placeholder="Búsqueda por marca" class="inputSearch" />
      </div>
    </form>
    <div style="display: flex; flex-direction: row; gap: 20px; margin-left: 20px; width: 20%; height: 45px">
      <button class="buttonReset" (click)="openDialog($event, 'add')">
        <mat-icon>add</mat-icon>
        Nueva marca
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" border="">
      <!-- ID Column -->
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element; let i = index" style="display: flex; justify-content: center; align-items: center">
          <button matTooltip="Editar nombre de la marca" style="width: 40px; height: 40px" (click)="openDialog(element, 'edit')">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 20]" aria-label="Select page"> </mat-paginator>
  </div>
</div>
