<form class="form" [formGroup]="registerForm">
  <div class="inputContainer">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña Anterior</mat-label>
      <input matInput formControlName="actualPassword" type="password" />
      <mat-error
        *ngIf="registerForm.get('actualPassword')?.hasError('required')"
      >
        La contraseña es requerida
      </mat-error>
      <mat-error
        *ngIf="registerForm.get('actualPassword')?.hasError('invalidPassword')"
      >
        La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una
        letra minúscula y un número
      </mat-error>
    </mat-form-field>
  </div>
  <div class="inputContainer">
    <mat-form-field appearance="outline">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput formControlName="newPassword" type="password" />
      <mat-error *ngIf="registerForm.get('newPassword')?.hasError('required')">
        La contraseña es requerida
      </mat-error>
      <mat-error
        *ngIf="registerForm.get('newPassword')?.hasError('invalidPassword')"
      >
        La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una
        letra minúscula y un número
      </mat-error>
    </mat-form-field>
  </div>
  <div class="inputContainer">
    <mat-form-field appearance="outline">
      <mat-label>Repetir Nueva Contraseña</mat-label>
      <input matInput formControlName="passwordConfirmation" type="password" />
      <mat-error
        *ngIf="registerForm.get('passwordConfirmation')?.hasError('required')"
      >
        La confirmación de la contraseña es requerida
      </mat-error>
      <mat-error
        *ngIf="
          registerForm.get('passwordConfirmation')?.hasError('invalidPassword')
        "
      >
        La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una
        letra minúscula y un número
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('passwordsMismatchUpdate')">
        Las contraseñas no coinciden
      </mat-error>
    </mat-form-field>
  </div>
</form>
<div
  style="
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  "
>
  <button class="buttonChangePassword" (click)="PasswordChange()">
    Actualizar Contraseña
  </button>
  <button class="buttonChangePassword" (click)="changeView()">
    Volver a información personal
  </button>
</div>
