.buttonChangePassword {
  color: white;
  background-color: #bc0505;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 46px;
}
.buttonChangePasswordDisabled {
  color: white;
  background-color: #bc0505;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 46px;
  opacity: 0.5;
}
.buttonChangePassword:hover {
  background-color: #f2494e;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTwoInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.containerTwoInputs .inputContainer {
  flex: 1;
}

mat-form-field {
  width: 100%;
}
.outlined-icon {
  -webkit-text-stroke: 1px white; /* Aplica un contorno negro al ícono */
  color: transparent; /* Hace que el relleno sea transparente */
}
