<form class="form" [formGroup]="registerForm">
  <div class="inputContainer">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña Anterior</mat-label>
      <input matInput formControlName="passwordOld" type="password" />
    </mat-form-field>
  </div>
  <div class="inputContainer">
    <mat-form-field appearance="outline">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
  </div>
  <div class="inputContainer">
    <mat-form-field appearance="outline">
      <mat-label>Repetir Nueva Contraseña</mat-label>
      <input matInput formControlName="passwordConfirmation" type="password" />
    </mat-form-field>
  </div>
</form>
<div
  style="width: 100%; display: flex; align-items: center; justify-content: end"
>
  <button class="buttonChangePassword" (click)="PasswordChange()">
    Actualizar Contraseña
  </button>
</div>
