<div class="container">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <h1 style="margin-bottom: -20px">Nueva Marca</h1>
    <button>
      <mat-icon (click)="closeDialog()" style="float: right; cursor: pointer"
        >close</mat-icon
      >
    </button>
  </div>
  <form [formGroup]="form">
    <input
      type="text"
      placeholder="Ingresa la nueva marca"
      class="input"
      formControlName="name"
      (input)="validateInput()"
      [disabled]="isDisabled"
      (input)="validateInput()"
    />
    <mat-error *ngIf="form.get('name')?.hasError('required')"
      >Este campo es requerido</mat-error
    >
  </form>
  <button
    class="buttonAdd"
    [disabled]="isDisabled"
    (click)="addBrand()"
    [ngClass]="{ 'disabled-opacity': isDisabled }"
  >
    <!-- <mat-icon>edit</mat-icon> -->
    {{ textButton }}
  </button>
</div>
