<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 10px">
  <h1>{{ textButton }} usuario</h1>
  <button>
    <mat-icon (click)="closeDialog()" style="float: right; cursor: pointer">close</mat-icon>
  </button>
</div>
<div class="containerDialog">
  <form [formGroup]="form" style="width: 80%; display: flex; flex-direction: column">
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role" [disabled]="isDisabled">
        <mat-option value="admin">Administrativo</mat-option>
        <mat-option value="customer">Cliente</mat-option>
        <mat-option value="mechanic">Mecánico</mat-option>
        <mat-option value="root">Administrador</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('role')?.hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="active" [disabled]="isDisabled"> Activo </mat-slide-toggle>

    <button mat-button class="buttonAdd" [disabled]="isDisabled" (click)="submit()" [ngClass]="{ 'disabled-opacity': isDisabled }">
      {{ textButton }}
    </button>
  </form>
</div>
