html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.containerHome {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 98%;
  height: 100%;
}

.sideBar {
  grid-column: 1;
  height: 100vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.main-content {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

app-header {
  grid-row: 1;
  grid-column: 1 / -1; /* Para que el header ocupe todo el ancho de las columnas */
}

app-content {
  grid-row: 2;
  grid-column: 2; /* Para que el contenido principal esté en la segunda columna */
  overflow: auto; /* Para manejar contenido extenso */
}
