<div class="container">
  <div class="containerCards">
    <div class="card1ViewProfile">
      <section class="sectionImg">
        <div class="circleImg">
          <img src="assets/img/Afinacion.svg" alt="" />
        </div>
      </section>
      <section class="sectionText">
        <p class="fontSFPro">Hola</p>
        <p class="fontSFProBold">{{ userData.name }} {{ userData.lastName }}</p>
      </section>
      <section class="sectionButtonEdit" *ngIf="PasswordSwitch">
        <button *ngIf="!editProfile" class="buttonEdit" (click)="changeEditProfile()">
          <mat-icon class="outlined-icons">edit</mat-icon>
          Editar perfil
        </button>
        <button *ngIf="editProfile" class="buttonEdit" (click)="changeEditProfile()">
          <mat-icon class="outlined-icons">edit</mat-icon>
          Guardar cambios
        </button>
      </section>
    </div>
    <div class="card2DataProfile">
      <h1 *ngIf="PasswordSwitch">Información personal</h1>
      <h1 *ngIf="!PasswordSwitch">Actualizar contraseña</h1>
      <section *ngIf="PasswordSwitch">
        <app-formEditUser
          [editProfile]="editProfile"
          (editProfileChange)="editProfileChange($event)"
          [PasswordSwitch]="PasswordSwitch"
          (PasswordSwitchChange)="PasswordSwitchChange($event)"
          [userData]="userData"
          (userDataChange)="userDataChange($event)"
        ></app-formEditUser>
      </section>
      <section *ngIf="!PasswordSwitch">
        <app-formEditPasswordUser [PasswordSwitch]="PasswordSwitch" (PasswordSwitchChange)="PasswordSwitchChange($event)"></app-formEditPasswordUser>
      </section>
    </div>
  </div>
</div>
