<main class="container bg-secondary">
  <section class="column1">
    <img class="imagenLogo" src="assets/img/logoLogin.svg" alt="logo" />
  </section>
  <section class="column2">
    <div class="card">
      <div class="titleHeader">
        <h1>Recuperar contraseña</h1>
        <div class="containerRoundedImg">
          <img src="assets/img/lock.svg" alt="roundedImg" />
        </div>
      </div>
      <form class="form" [formGroup]="verifyEmailForm">
        <p style="line-height: 30px; margin-bottom: 30px">
          Para recuperar tu contraseña, por favor ingresa el correo electrónico
          al que está asociado tu cuenta y en breve, recibirás un correo con tu
          contraseña de recuperación.
        </p>

        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input
              matInput
              formControlName="email"
              (input)="validEmail($event)"
            />
            <mat-error
              *ngIf="verifyEmailForm.get('email')?.hasError('invalidEmail')"
            >
              El correo electrónico es obligatorio
            </mat-error>
            <mat-error
              *ngIf="verifyEmailForm.get('email')?.hasError('pattern')"
            >
              Correo electrónico no válido
            </mat-error>
          </mat-form-field>
        </div>
        <div
          style="
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-top: -10px;
            margin-bottom: 10px;
          "
        >
          <a class="link" [routerLink]="['/login']">Regresar al login</a>
        </div>
        <button
          class="buttonLogin bg-primary"
          type="button"
          (click)="verify()"
          [disabled]="resendCodeDisabled"
        >
          Recuperar contraseña
        </button>
      </form>
    </div>
  </section>
</main>
