<div class="sideBar">
  <ul>
    <li
      (click)="getRoute()"
      [ngClass]="{ 'active-border': urlSidebar === '/home/dashboard' }"
    >
      <img src="assets/icons/home.svg" alt="" />
      <a
        routerLink="/home/dashboard"
        routerLinkActive="active-link"
        class="nav-link"
        [ngClass]="{ 'active-link': urlSidebar === '/home/dashboard' }"
        >Home</a
      >
    </li>
    <li
      *ngIf="role === 'root'"
      (click)="getRoute()"
      [ngClass]="{ 'active-border': urlSidebar === '/home/users' }"
    >
      <img src="assets/icons/profile.svg" alt="" />
      <a
        routerLink="/home/users"
        routerLinkActive="active-link"
        class="nav-link"
        [ngClass]="{ 'active-link': urlSidebar === '/home/users' }"
        >Usuarios</a
      >
    </li>

    <li
      (click)="getRoute()"
      [ngClass]="{ 'active-border': urlSidebar === '/home/perfil' }"
    >
      <img src="assets/icons/profile.svg" alt="" />
      <a
        routerLink="/home/perfil"
        routerLinkActive="active-link"
        class="nav-link"
        [ngClass]="{ 'active-link': urlSidebar === '/home/perfil' }"
        >Perfil</a
      >
    </li>
  </ul>
</div>
