<div class="sideBar">
  <div class="profile-section">
    <div class="profile-photo">
      <p>Foto</p>
    </div>
    {{ role }}
  </div>
  <ul>
    <li
      (click)="getRoute('Dashboard')"
      [routerLink]="'/home/dashboard'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/dashboard') }"
    >
      <img [src]="isActiveRoute('/home/dashboard') ? 'assets/icons/homeActive.svg' : 'assets/icons/homeInactive.svg'" alt="" />
      Home
    </li>
    <li
      *ngIf="role === 'Administrador'"
      (click)="getRoute('Usuarios')"
      [routerLink]="'/home/users'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/users') }"
    >
      <img [src]="isActiveRoute('/home/users') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Usuarios
    </li>
    <li
      *ngIf="role === 'Administrador' || role === 'Administrativo'"
      (click)="getRoute('Marcas')"
      [routerLink]="'/home/carBrand'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/carBrand') }"
    >
      <img [src]="isActiveRoute('/home/carBrand') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Marcas
    </li>
    <li
      *ngIf="role === 'Administrador' || role === 'Administrativo'"
      (click)="getRoute('Clientes')"
      [routerLink]="'/home/customers'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/customers') }"
    >
      <img [src]="isActiveRoute('/home/customers') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Clientes
    </li>
    <li
      *ngIf="role === 'Administrador' || role === 'Administrativo'"
      (click)="getRoute('Vehiculos')"
      [routerLink]="'/home/vehicles'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/vehicles') }"
    >
      <img [src]="isActiveRoute('/home/vehicles') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Vehículos
    </li>
    <li
      *ngIf="role === 'Administrador' || role === 'Administrativo'"
      (click)="getRoute('Ordenes de servicio')"
      [routerLink]="'/home/orderService'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/orderService') }"
    >
      <img [src]="isActiveRoute('/home/orderService') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Ordenes de servicio
    </li>

    <li
      (click)="getRoute('Citas')"
      [routerLink]="'/home/appointments'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/appointments') }"
    >
      <img [src]="isActiveRoute('/home/appointments') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Citas
    </li>
    <li
      (click)="getRoute('Perfil')"
      [routerLink]="'/home/perfil'"
      routerLinkActive="active-link"
      [ngClass]="{ 'active-border': isActiveRoute('/home/perfil') }"
    >
      <img [src]="isActiveRoute('/home/perfil') ? 'assets/icons/profileActive.svg' : 'assets/icons/profileInactive.svg'" alt="" />
      Perfil
    </li>
  </ul>
</div>
