<main class="container bg-secondary">
  <section class="column1">
    <img class="imagenLogo" src="assets/img/logoLogin.svg" alt="logo" />
  </section>
  <section class="column2">
    <div class="card">
      <div class="containerRoundedImg">
        <img src="assets/img/lock.svg" alt="roundedImg" />
      </div>
      <h1>Iniciar sesión</h1>
      <form [formGroup]="loginForm" class="form">
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" autocomplete="email" />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              El correo electrónico es obligatorio
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">
              Correo electrónico no válido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputContainer">
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              La contraseña es obligatoria
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
              Debe tener al menos 8 caracteres, una letra y un número
            </mat-error>
          </mat-form-field>
        </div>
        <button
          class="buttonLogin bg-primary"
          type="button"
          (click)="login()"
          [disabled]="loginForm.invalid"
        >
          Iniciar sesión
        </button>
      </form>
      <div class="links">
        <a routerLink="/recoverPassword">¿Olvidaste tu contraseña?</a>
        <a routerLink="/register">¿No tienes cuenta? Regístrate</a>
      </div>
    </div>
  </section>
</main>
