<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 10px">
  <h1>{{ textButton }} vehículo</h1>
  <button>
    <mat-icon (click)="closeDialog()" style="float: right; cursor: pointer">close</mat-icon>
  </button>
</div>
<div class="containerDialog">
  <form [formGroup]="form" style="width: 85%; display: flex; flex-direction: column">
    <section style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%; gap: 5px">
      <!-- Formulario de dueños -->
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Dueño</mat-label>
        <input type="text" matInput placeholder="Selecciona un dueño" formControlName="owner" [matAutocomplete]="autoOwner" [disabled]="isDisabled" />
        <mat-autocomplete #autoOwner="matAutocomplete" [displayWith]="displayOwnerName">
          <mat-option *ngFor="let owner of filteredOwners$ | async" [value]="owner"> {{ owner.name }} {{ owner.lastName }} </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('owner')?.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <!-- Formulario de marcas de coches -->
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Modelo</mat-label>
        <input
          type="text"
          matInput
          placeholder="Selecciona un modelo"
          formControlName="model"
          [matAutocomplete]="autoModel"
          [disabled]="isDisabled"
        />
        <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayModelName">
          <mat-option *ngFor="let model of filteredModels$ | async" [value]="model">
            {{ model.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('model')?.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </section>
    <section style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%; gap: 5px">
      <!--Color y año-->
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Color</mat-label>
        <mat-select placeholder="Color del vehículo" formControlName="color" [disabled]="isDisabled">
          <mat-option *ngFor="let color of colorRed" [value]="color.value">
            {{ color.color }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('color')?.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Año</mat-label>
        <input type="number" matInput placeholder="Año del vehículo" formControlName="year" [disabled]="isDisabled" />
        <mat-error *ngIf="form.get('year')?.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </section>
    <!--Placas y número de serie-->
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Placas</mat-label>
      <input type="text" matInput placeholder="Placas del vehículo" formControlName="plates" [disabled]="isDisabled" />
      <mat-error *ngIf="form.get('plates')?.hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Número de serie</mat-label>
      <input type="text" matInput placeholder="Número de serie del vehículo" formControlName="serialNumber" [disabled]="isDisabled" />
      <mat-error *ngIf="form.get('serialNumber')?.hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>

    <button class="buttonAdd" [disabled]="isDisabled" (click)="submit()" [ngClass]="{ 'disabled-opacity': isDisabled }">
      {{ textButton }}
    </button>
  </form>
</div>
