<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} {{ element.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{ element.phoneNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isEditing; else notEditing">
          <select [(ngModel)]="element.role">
            <option *ngFor="let role of roles" [value]="role.viewValue">{{ role.viewValue }}</option>
          </select>
        </div>
        <ng-template #notEditing>
          {{ element.role }}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="emailConfirmed">
      <th mat-header-cell *matHeaderCellDef> Email Confirmed </th>
      <td mat-cell *matCellDef="let element">
        @if (element.emailConfirmed) {
          <mat-icon aria-hidden="false" aria-label="For active users" fontIcon="check_small"></mat-icon>
        }
        @else {
          <mat-icon aria-hidden="false" aria-label="For inactive users" fontIcon="close"></mat-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="phoneConfirmed">
      <th mat-header-cell *matHeaderCellDef> Phone Confirmed </th>
      <td mat-cell *matCellDef="let element">
        @if (element.phoneConfirmed) {
          <mat-icon aria-hidden="false" aria-label="For active users" fontIcon="check_small"></mat-icon>
        }
        @else {
          <mat-icon aria-hidden="false" aria-label="For inactive users" fontIcon="close"></mat-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active <i class="fas fa-angrycreative"></i> </th>
      <td mat-cell *matCellDef="let element">
          <div *ngIf="element.active; else notActive">
            <button (click)="toggleActive(element.id)">
              <mat-icon aria-hidden="false" aria-label="For active users" fontIcon="check_small"></mat-icon>
            </button>
          </div>
          <ng-template #notActive>
            <button (click)="toggleActive(element.id)">
              <mat-icon aria-hidden="false" aria-label="For inactive users" fontIcon="close"></mat-icon>
            </button>
          </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isEditing; else notEditing" style="display: inline-flex">
          <button mat-icon-button (click)="openDialog(element.id)">
            <mat-icon aria-hidden="false" aria-label="Save user" fontIcon="save"></mat-icon>
          </button>
          <button mat-icon-button (click)="cancelEdit(element.id)">
            <mat-icon aria-hidden="false" aria-label="Cancel edit" fontIcon="cancel"></mat-icon>
          </button>
        </div>
        <ng-template #notEditing>
          <button mat-icon-button (click)="editUser(element.id)">
            <mat-icon aria-hidden="false" aria-label="Edit user" fontIcon="edit"></mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
